<div class="md-padding" fxLayout="row wrap" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">
        <div fxFlex="20" *ngFor="let item of plantas" class="card-div">
            <mat-card>
                <img mat-card-image [src]="item.imgUrl">
                <mat-card-header style="justify-content: center">
                    <mat-card-title>
                        <h3 class="m-0">{{item.nome}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Umidade Minima: {{item.umidadeMinima}}
                    </p>
                    <p>
                        Umidade Maxima: {{item.umidadeMaxima}}
                    </p>
                </mat-card-content>
    
                <mat-card-actions>
                    <a [routerLink]="['/plantas/especie', item.id]">
                        <button mat-button>
                            <mat-icon class="nav-icon">local_florist</mat-icon> Ver plantas
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>